
.home {
  box-sizing: border-box;
  height: 65px;
  border-bottom: 1px solid #ddd;
}
.home .nav-link {
  color: #353535;
}
.home header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.home .logo {
  width: 120px;
  height: 65px;
}
.home .log img {
  width: 120px;
  height: 65px;
}
.home .search-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.home .search-icon img {
  display: inline-block;
  width: 20px;
}
.home .avatar img {
  width: 40px;
}


/* main */
main {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.content {
  width: 710px;
  box-sizing: border-box;
}
.title-menus {
  width: 100%;
  padding: 0px 20px;
}
.title-menus li{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  line-height: 45px;
}
title-menus li > span:first-child {
  min-width: 50px;
  font-size: 14px;
    font-weight: 500;
    color: #353535;
}
.title-menus .nav:parent {
  width: 100%;
  border-bottom: 1px solid rgba(233,233,233,0.6);
}
.title-menus li ul li .nav-link {
  font-size: 14px;
    font-weight: 400;
    border-radius: 14px;
    color: #888;
    white-space: nowrap;
}

.content-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.content-tabs ul{
  width: 100%;
}
.content-tabs ul .nav-link {
  color: #888;
  font-size: 13px;
  font-weight: 400;
}
.content-tabs>span {
  position: absolute;
  left: 710px;
}
.classes>ul {
  padding: 40px 0px;
  height: 250px;
  box-sizing: border-box;
}
.classes>ul>li {
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
.class-img {
  width: 125px;
  height: 170px;
}
.class-img img {
  width: 125px;
  height: 170px;
  border-radius: 10px;
}
.class-content {
  box-sizing: border-box;
  padding-left: 15px;
  border-bottom: 1px solid #ddd;
}
.class-content p:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.class-content p:first-child span:first-child {
  font-size: 20px;
  color: #404040;
  font-weight: 500;
  line-height: 24px;
}
.class-content p:first-child span:last-child {
  font-size: 14px;
    color: #888;
    font-weight: 300;
    line-height: 24px;
    white-space: nowrap;
    letter-spacing: 1px;
  }

.class-subjects {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.class-subjects li {
  width: 49%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px; 
  line-height: 20px;
  color: #404040;
  font-size: 13px;
  font-weight: 400;
}
.class-content p:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.class-content p:last-child > span:first-child span:first-child {
  margin-right: 10px;
  color: #fa8919;
  font-size: 18px;
  font-weight: 400;
}
.class-content p:last-child > span:first-child span:last-child {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  color: #888;
}

/* footer */
footer {
  width: 900px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 14px;
  font-size: 11px;
  color: #888;
  text-align: center;
}