@charset "utf-8";
/*yahoo*/
html {
  background: none repeat scroll 0 0 #fff;
  color: #000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
;
;
}
table {
  border-collapse: collapse;
;
}
fieldset, img {
  border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
ul {
  padding: 0px;
}
li {
  list-style: none outside none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
 font-size: 100%;
  font-weight: normal;
}
p {
  margin: 0px;
  padding: 0px;
}
q:before, q:after {
  content: "";
}
abbr, acronym {
  border: 0 none;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input, textarea, select {
}
legend {
  color: #000;
}
body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
}
select, input, button, textarea {
  font: 99% arial,helvetica,clean,sans-serif;
}
table {
    font-size: inherit;
}
pre, code, kbd, samp, tt {
  font-family: monospace;
  line-height: 100%;
}
a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
strong {
  font-weight: bold;
}
input[type="submit"] {
  cursor: pointer;
}
button {
  cursor: pointer;
}

/*bootstrap*/
h1, .h1 {
  font-size: 36px;
}
h2, .h2 {
  font-size: 30px;
}
h3, .h3 {
  font-size: 24px;
}
h4, .h4 {
  font-size: 18px;
}
h5, .h5 {
  font-size: 14px;
}
h6, .h6 {
  font-size: 12px;
}
.text-left, .txt-left{
  text-align: left;
}
.text-right, .txt-right{
  text-align: right;
}
.text-center, .txt-center{
  text-align: center;
}
img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

/*table*/
.tbl {
  border-collapse: collapse;
;
}

/*btn*/
.btn {
  display: inline-block;
  font-weight: normal;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

/*opacity*/
.fade {
;
  -webkit-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}
.fade.in {
;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.fixed {
  position: fixed;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/*yahari*/
.clear,.clr{clear:both;}
.center{margin:0 auto}
.sans-serif{font-family:Microsoft YaHei,Helvetica,Arial,sans-serif}
.simsun{font-family:SimSun;}
.vtlctBase,.midBase,horizontalCenterBase,horBase{display:table;height:100%;}
.vtlctBase .vtlctSub,.midBase .midSub,.horizontalCenterBase .horizontalCenterSub,.horBase .horSub{vertical-align:middle;display:table-cell;}
.opacity,.transparency{
    filter:alpha(opacity=0); /*IE*/
; /*old Mozilla*/
; /*old Safari*/
;
}
.autoBgImg,.self-adaptionImg,.self-adaptImg{
  -moz-background-size:100% 100%;
  background-size:100% 100%;
}
.txt-magenta,.text-fuchsia{color:#f0f;}
.txt-green{color:#0f0;}
.txt-aqua{color:#0ff;}
.txt-blue{color:#00f;}
.txt-pink{color:#ffc0cb}
.txt-purple{color:#800080;}
.txt-beige{color:f5f5dc;}
.txt-yellow{color:ff0;}
.bg-red{background:f00;}
.bg-orange{background:#ffa500}
.bg-yellow{background:#ff0}
.bg-green{background:#0f0}
.bg-blue{background:#00f}
.bg-cyan{background:007fff}
.bg-purple{background:8b00ff}
.bold,.bld.font-bold{font-weight:bold;}
.border{border:1px solid transparent;}
.border-f60,.f60{border:1px solid #f60;}
.border-60f,.f06{border:1px solid #f06;}

.ellipsis,.omit{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.lft,.fl{float:left;}
.rgt,.fr{float:right;}
.grid-col-1, .grid-cent-5,.col5{width:5%}
.grid-col-2, .grid-cent-10,.col10{width:10%}
.grid-col-3, .grid-cent-15,.col15{width:15%}
.grid-col-4, .grid-cent-20,.col20{width:20%}
.grid-col-5, .grid-cent-25,.col25,.quarter,.qtr{width:25%}
.grid-col-6, .grid-cent-30,.col30{width:30%}
.grid-col-7, .grid-cent-35,.col55{width:35%}
.grid-col-8, .grid-cent-40,.col40{width:40%}
.grid-col-9, .grid-cent-45,.col45{width:45%}
.grid-col-10,.grid-cent-50,.col50,.harf{width:50%}
.grid-col-11,.grid-cent-55,.col55{width:55%}
.grid-col-12,.grid-cent-60,.col60{width:60%}
.grid-col-13,.grid-cent-65,.col65{width:65%}
.grid-col-14,.grid-cent-70,.col70{width:70%}
.grid-col-15,.grid-cent-75,.col75{width:75%}
.grid-col-16,.grid-cent-80,.col80{width:80%}
.grid-col-17,.grid-cent-85,.col85{width:85%}
.grid-col-18,.grid-cent-90,.col90{width:90%}
.grid-col-19,.grid-cent-95,.col95{width:95%}
.grid-col-20,.grid-cent-100,.col100{width:100%}